<div class="flex flex-col min-h-screen bg-grey-lighter">
  <div class="container max-w-sm px-2 mx-auto">
    <div class="w-full px-6 py-8 text-black bg-white rounded shadow-md">
      <h1 class="mb-8 text-3xl text-center">Sign up</h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <input type="text" class="block w-full p-3 mb-4 border rounded border-grey-light" name="fullname" placeholder="Full Name" />

        <%= f.email_field :email, 
          autofocus: true, 
          autocomplete: "email", 
          placeholder: "Email", 
          class: "block w-full p-3 mb-4 border rounded border-grey-light"%>

        <%= f.password_field :password, 
          autocomplete: "new-password", 
          placeholder: "Password", 
          class: "block w-full p-3 mb-4 border rounded border-grey-light"%>

         <%= f.password_field :password_confirmation, 
          autocomplete: "new-password", 
          placeholder: "Confirm Password", 
          class: "block w-full p-3 mb-4 border rounded border-grey-light"%>

        <div class="w-full">
          <%= f.submit "Create Account", class: "py-3 my-1 text-center text-white bg-green-400 rounded w-full hover:bg-green-600 focus:outline-none" %>
        </div>
      <% end %>
    </div>

    <div class="mt-6 text-grey-dark">
      Already have an account? 
      <%= link_to "Log in", new_session_path(resource_name), class: "no-underline border-b border-blue text-blue" %>
    </div>
  </div>
</div>
